<header id="header">
  <nav>
    <!-- Log-In, Cart, About us -->
    <div class="header-container">
      <span>
        <a id="cartviewbutton" href="#">
          <i id="#main-header-two" class="fas fa-shopping-cart fa-2x shopCart hvr-grow-rotate"></i>
        </a>
      </span>
    </div>
    <div class="header-container">
      <span>
        <a href="/passport">
          <p id="main-header-three" class="hvr-grow-rotate">LOG-IN</p>
        </a>
      </span>
    </div>
      <div class="header-container">
      <span>
        <a href="/logout">
          <p id="main-header-three" class="hvr-grow-rotate">LOG-OUT</p>
        </a>
      </span>
    </div>
   <div id="lefty">
      <span>
        <a href="/aboutus">
          <p id="main-header-four" class="hvr-grow-rotate">ABOUT US</p>
        </a>
      </span>
    </div>
    <br>
    <h1>DevTaukx</h1>
    <button id="designers-header" class="hvr-grow-rotate">Designers</button>
    <button value="apparel" class="searchlink hvr-grow-rotate">Clothing</button>
    <button value="accessories" class="searchlink hvr-grow-rotate">Accessories</button>
    <button value="outerwear" class="searchlink hvr-grow-rotate">Outerwear</button>
    <button value="shoes" class="searchlink hvr-grow-rotate">Shoes</button>
    <button id="testimonials-header" class="hvr-grow-rotate">Testimonials</button>
  

  </nav>

</header>




{{!-- content section --}}
<section id="aboutthem-content">
 <h3> Designers To Keep An Eye Out For
 </h3>
</section>
<br>
<br>



<img src="https://video-images.vice.com/_uncategorized/1506094173337-SupriyaLele-Team-i-D-StraightUps-LillieEiger-028-2.jpeg?resize=320:*" class="designer center">


<p class="designer2">
Supriya Lele
<br>
I'm a 31-year-old woman and when I think about what I want to wear, I want a wardrobe,” says Supriya Lele, the British Indian designer who will stage her first solo presentation this week after flying the nest of Fashion East. The wardrobe in question is one full of swathes of drapery, high-low fabric combos and precision tailoring that takes its cue from menswear.

It may be her first presentation, but this is not Lele’s first time at the rodeo. After graduating from Edinburgh College of Art, Lele spent a few years gaining experience in London and New York, working for fashion houses including Nicole Farhi and Roksanda. In 2016, she graduated from the Royal College of Art and was swiftly scouted by Lulu Kennedy and the rest is kismet.
</p>
<br>
<br>

<div>
<img src="http://coveteur.com/wp-content/uploads/2016/11/Johanna_Ortiz-29.jpg" class="designer center">

<p>
  Johanna Ortiz
  <br>
  After graduating from The Art Institute, I returned to Colombia. It was difficult for me to find clothing that appealed to my taste, so I started designing for myself. People would always ask what I was wearing and how I styled it, and eventually friends starting coming to me for advice on how to dress for important events. I thought to myself, why not start my own label?
</p>
<br>
<br>
<img src="https://i.ibb.co/Z1ChD8J/designer11.jpg" class="designer center">

<p>
Matthew Adams Dolan

Photo: Ben Morris

<p>“I have always been intrigued by the evolution of American style, which is so firmly rooted in ideas of tradition, legacy, and familiarity. In a way, I guess it is the opposite of originality. However, on the other hand, it really radicalized and reshaped how people, not only in America but the rest of the world, dressed. For instance, the idea of democratizing clothing that could be worn by men or women, and selling a lifestyle or an attitude which was so different from how people dressed before. Designers are always looking at the past, what has already been done, and how it relates to the current social climate. Now, more than ever, we are bombarded by imagery and references, so knowing and respecting that history is important; this idea of originality comes from reimagining that past from a different and personal perspective. I believe it is really important to be aware of how people wear clothes. At the end of the day, it’s not so much about changing the world or reinventing the wheel—it's about creating your own version of it.” —Matthew Adams Dolan </p>


<br>
<br>

<img src="https://i.ibb.co/JBmdmn6/DESIGNER3.jpg" class="designer center">

<p>
Gauntlett Cheng

Photo: Rob Kulisek

<p>Gauntlett Cheng “When we started this label, originality from other brands wasn’t a huge concern as we felt pretty disconnected from the traditional fashion world in New York. Our starting point when making clothes has always been a response to our immediate surroundings, work life, financial anxiety, sexuality, a sense of home, desire, frustration, and nostalgia. Starting a fashion label wasn’t something we wanted to do alone, so we looked to our friends and people we admire to collaborate with, going beyond the clothes and encompassing image making, casting, branding, styling, and music. This resulted in work that was unexpected and spoke a lot more about ourselves and our lives. We think originality in fashion comes from reflecting on your own reality and not on the realities of others.” —Esther Gauntlett and Jenny Cheng</p>


<br>
<br>


<img src="https://i.ibb.co/W06cBBT/DESIGNER4.jpg" class="designer center">
<p>
LRS

Photo: Matt Tammaro

<p>
LRS “Originality in fashion is defined by our current life experiences. We make clothes that make us feel good or inspire us because we need to escape the hectic state of the work.” —Raul Solis</p>

<br>
<br>

<img src="https://i.ibb.co/QfTdX0V/DESIGNER6.jpg" class="designer center">


<p>
Lou Dallas

Photo: bogdan teslar kwiatkowski

<p>Lou Dallas “Fashion is going in so many directions right now that one doesn’t have to feel constricted or obligated to follow someone else’s tastes. Personally, I prefer the restrictions of working with deadstock materials, new from old. What I find inspiring is applying an aesthetic to something previously discarded or forgotten. You don’t need to work with new things to create something new, and there is a magic in transforming something that could have been just waste.” —Raffaella Hanley</p>

<br>
<br>

<img src="https://i.ibb.co/mzDF4Gb/DESIGNER2.jpg" class="designer center">

<p>
Lorod

Photo: Chase Hall

<p>Lorod “Original design is intuitive. It’s possessing the ability to think independently and create instinctively. Looking inward to set the climate in lieu of adjusting for the weather.” —Lauren Rodriguez “For me, originality is rooted in making work that is personal—creating clothing that renegotiates personal histories as a way to find newness. Truly original design has evolved into an amalgam of different techniques, styles, and tropes that are reconsidered to provide a new perspective. By combining different design elements that are personal to our lived experiences, we’re hoping to develop an original visual language in American fashion.” —Michael Freels</p>


<br>
<br>

<img src="https://i.ibb.co/y4k3376/DESIGNER5.jpg" class="designer center">

<p>
Luar

Photo: Travis Gumbs

<p>Luar“Research is the key to originality. We each must craft for ourselves the definition of fashion by understanding the history of everything that has come before us. Only when you begin to understand what has already been done can you be an original, because rather than repeat and recreate history, you must learn from it to create something that is truly your own.” —Raul Lopez</p>







<footer class="footer-2">

  <div class="footer-container">
    <div class="row">
      <div class="col-md-5">
        <p class="main-footer">© 2018 Agatha | Martin | Sienna</p>
      </div>
    </div>
  </div>

</footer>