<header id="header">
  <nav>
    <!-- Log-In, Cart, About us -->
    <div class="header-container">
      <span>
        <a id="cartviewbutton" href="#">
          <i id="#main-header-two" class="fas fa-shopping-cart fa-2x shopCart hvr-grow-rotate"></i>
        </a>
      </span>
    </div>
    <div class="header-container">
      <span>
        <a href="/passport">
          <p id="main-header-three" class="hvr-grow-rotate">LOG-IN</p>
        </a>
      </span>
    </div>
    <div class="header-container">
      <span>
        <a href="/logout">
          <p id="main-header-three" class="hvr-grow-rotate">LOG-OUT</p>
        </a>
      </span>
    </div>
    <div id="lefty">
      <span>
        <a href="/aboutus">
          <p id="main-header-four" class="hvr-grow-rotate">ABOUT US</p>
        </a>
      </span>
    </div>
    <br>
    <h1>DevTaux</h1>
    <button id="designers-header" class="hvr-grow-rotate">Designers</button>
    <button value="apparel" class="searchlink hvr-grow-rotate">Clothing</button>
    <button value="accessories" class="searchlink hvr-grow-rotate">Accessories</button>
    <button value="outerwear" class="searchlink hvr-grow-rotate">Outerwear</button>
    <button value="shoes" class="searchlink hvr-grow-rotate">Shoes</button>
    <button id="testimonials-header" class="hvr-grow-rotate">Testimonials</button>


  </nav>

</header>

<section id="aboutus-content">
  <div class="container">
    <h1 class="display-4">Website Creation</h1>
    <p class="lead">
      This is a full stack application.
      On the back-end side, we created this app structured to meet the MVC paradigm.
      We have utilized Node and an Express Web Server, backed the data using MySQL Database, and included both GET and
      POST routes.
      Deployment was made possible with Heroku, including all of the MySQL data.
      Also implemented into this application was Passport User Authentication, enabling a user to sign in and checkout
      with their login info.

      On the front end side, we utilized Bootstrap and basic CSS to style this webpage.


      If you are planning on downloading this code from github, remember that some of our data will not be included.
      Our API keys in node will not be included in the repo and you must create your own .env file as well as download
      your own dependencies packages.
    </p>
  </div>
  <div id="dev-container">
    <h3>The Development Team</h3>

    <a href="https://www.linkedin.com/in/martin-benedict-jurado/" class="profilelinks hvr-grow-rotate" alt="LinkedIn">Martin Jurado</a>
      <br>
    <a href="https://www.linkedin.com/in/agatha-kiecun-783a625b/" class="profilelinks hvr-grow-rotate" alt="LinkedIn">Agatha Kiecun</a>
    <br>
    <a href="https://www.linkedin.com/in/sienna-spargo-534703b8/" class="profilelinks hvr-grow-rotate" alt="LinkedIn">Sienna Spargo</a>
  </div>
</section>

<footer class="footer7">

  <div class="footer-container">
    <div class="row">
      <div class="col-md-5">
        <p class="main-footer">© 2018 Agatha | Martin | Sienna</p>
      </div>
    </div>
  </div>

</footer>