

<div id="carttablediv">
<h2>Your Shopping Cart</h2>
<br><br>
<table>
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
  </tr>
  {{#each carts}}
  <tr id="contempty">
    <td id="cartprods">{{products}}</td>
    <td id="cartquants">{{quantity}}</td>
  </tr>
 {{/each}}
</table>
<br>

 {{!-- <p class="carttable">{{userid}}</p> --}}


<button>Proceed to checkout</button>

</div>


<script>
  $(document).ready(function(){
    var prods = $("#cartprods").text().split(",")
    var quants = $("#cartquants").text().split(",")
 
    $("#contempty").empty()
    for(i=0;i<prods.length;i++){
      var tr = $("<tr>")
      var td1 = $("<td>")
      var td2 = $("<td>")
      
      td1.text(prods[i])
      td2.text(quants[i])
      tr.append(td1)
      tr.append(td2)
      $("table").append(tr)

    }


    $(".main-footer").attr("id", "cartfooter")
  })
</script>