<h2>Shopping Cart</h2>
{{#each carts}}
<h2>Hey <p id="#user-dump">{{userid}}</p>, you just added
<p id="quantity-dump">{{quantity}}</p> of <p id="product-dump">{{products}}</p> to your
cart</h2>

<button>Proceed to checkout</button>
{{/each}}



