{{!-- HOMEPAGE of website --}}


	
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img id="header1" src="http://alivemag.com/wp-content/uploads/2017/12/fashion-feature-issue-6-cover.jpg"
				 alt="First slide">
				<div class="carousel-caption">
					<h2 id="caption">Style for the Modern Woman</h2>
					<p id="sub-caption">Get the latest collection from up-and-coming designers</p>
					<div class="wrapbtn">
						<a href="/productview"><button type="button" id="shoptbtn" class="btn btn-outline-light"><strong>SHOP NOW</strong></button></a>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
					<img id="header1" src="https://www.thedenizen.co.nz/wp-content/uploads/2018/04/imaginary-friends.jpg">
				<div class="carousel-caption">
					<h2 id="caption2">We'd love to Hear from You</h2>
					<p id="sub-caption2">Post your thoughts in our testimonials page</p>
					<div class="wrapbtn2">
						<a href="/testimonials"><button type="button" id="shoptbtn2" class="btn btn-outline-light"><strong>TESTIMONIALS</strong></button></a>
					</div>
				</div>
			</div>
			
		</div>
	</div>

</body>

<footer class="footer">

	<div class="footer-container">
		<div class="row">
			<div class="col-md-5">
				<p class="main-footer">© 2018 Agatha | Martin | Sienna</p>
			</div>
		</div>
	</div>

</footer>

</html>