{{!-- SIGNUP PAGE of website --}}

<head>
	<title>Welcome to our Store</title>
</head>

<body>
<header id="header">
  <nav>
    <!-- Log-In, Cart, About us -->
    <div class="header-container">
      <span>
        <a href="/productview">
          <i id="#main-header-two" class="fas fa-shopping-cart fa-2x shopCart"></i>
        </a>
      </span>
    </div>
    <div class="header-container">
      <span>
        <a href="/">
          <p id="main-header-three">LOG-IN</p>
        </a>
      </span>
    </div>
   <div id="lefty">
      <span>
        <a href="/aboutus">
          <p id="main-header-four">ABOUT US</p>
        </a>
      </span>
    </div>
    <br>
    <h1>DevTaukx</h1>
    <button id="designers-header">Designers</button>
    <button value="apparel" class="searchlink">Clothing</button>
    <button value="accessories" class="searchlink">Accessories</button>
    <button value="outerwear" class="searchlink">Outerwear</button>
    <button value="shoes" class="searchlink">Shoes</button>
    <button id="testimonials-header">Testimonials</button>
  

  </nav>

</header>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up Form</h2>
        <form class="signup">
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span class="msg"></span>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in
          <a href="/login">here</a>
        </p>
      </div>
    </div>
  </div>
  </body>




<footer class="footer">

	<div class="footer-container">
		<div class="row">
			<div class="col-md-5">
				<p class="main-footer">© 2018 Agatha | Martin | Sienna</p>
			</div>
		</div>
	</div>

</footer>

</html>