<form>
  Product Id:<br>
  <input type="text" name="id"><br>
  Product name:<br>
  <input type="text" name="name"><br>
  Product price:<br>
  <input type="text" name="price"><br>
  Product image:<br>
  <input type="text" name="image"><br>
  Product designer:<br>
  <input type="text" name="designer"><br>
  Product category:<br>
  <input type="text" name="category"><br>
  <input id="addprodsubmit" type="submit" value="Submit">
</form>

