.productimg {
    height: 300px;
    width: 250px;
}

#content {
    width: 95%;
    margin: 0 auto;
}

#header {
    height: 100px;
    text-align: center;
    font-size: 20px;
    background-color: turquoise;
    color: white;
    margin-bottom: 15px;
}

#searchlinks {
    height: 1000px;
    width: 10%;
    min-width: 100px;
    float:left;
    background-color: aquamarine;
    margin-right: 50px;
}

.searchlink {
    margin:10px;
}
#sortselect{
    margin:10px;
}
#sort {
    margin: 10px;
}

.productdiv {

    float: left;
}

.productdiv {
    margin: 15px;
    float: left;
    text-align:center;
}